---
layout: base.njk
title: HuskySat Sponsors
heading: Husky Satellite Lab Sponsors
---

<p class="tagline">Our sponsors enable us to do out-of-this-world work.</p>
<p class="tagline">We have received hardware, software, and financial sponsorships from companies in the aerospace and engineering industries.</p>
<p class="tagline">We are 100% student run, and in an effort to stay as independent as possible, we are always looking for funding from outside sources.</p>

<div class="flex-container" style="max-width: 800px;">
    {% for sponsor in sponsors %}
        <a class="card" href="{{ sponsor.url }}">
            <div class="card-image-container card-top">
                <img src="/{{ sponsor.image }}" width="200px"></div>
            <h4>{{ sponsor.name }}</h4>
        </a>
    {% endfor %}
</div>

<h1>
    Want to join us?
  </h1>

<p class="contact-p">
    Fill out our <a class='inline-link' href='/join#sponsor'>sponsorship interest form</a> ⟶
  </p>