footer {
    margin-top: 80px;
    padding-bottom: 40px;
    width: 100%;
    background: rgb(27, 18, 45);
    background: linear-gradient(67deg, rgba(27, 18, 45, 1) 0%, rgba(36, 22, 61, 1) 35%, rgba(53, 33, 92, 1) 100%);
    text-align: center;
}

footer > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    text-align: left;
}

.footer-column {
    height: 300px;
    margin-left: 30px;
    margin-right: 30px;
}

.footer-column-header {
    color: #ccc;
    font-weight: 600;
    font-size: 24px;
    margin: 10px 0px;
    white-space: nowrap;
}

.footer-link {
    color: #ccc;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
}

.footer-link:hover {
    color: #B7A57A;
}

#netlify-logo {
    display: inline-block;
    margin: auto;
  }