header {
    position: sticky;
    top: 0;
    z-index: 10;
}

#navbar {
    width: 100%;
    background-color: #eee;
    transition: background-color 200ms, box-shadow 200ms;
    font-weight: 600; 
    color: #333;
    text-align: center;
}

.navbar-scrolled {
    background-color: #fff !important;
    box-shadow: 0 4px 12px 0px #00000006;
}

#navbar > .header-link {
    display: inline-block;
    text-decoration: none;
    padding: 25px 10px;
    color: #333;
}

#navbar > .header-link:hover {
    color: #B7A57A;
}

#navbar-join-us {
    float: right;
    margin: 15px;
}

#navbar-logo {
    float: left;
    margin: 4px;
}

#nabar-logo {
    max-width: 100%;
}

#navbar-logo:hover {
    filter: invert(1) brightness(50%) sepia(100%);
}