---
title: Join HuskySat
heading: Join the Husky Satellite Lab
---

<div class="flex-container">
    <div>
        <div class="card" style="max-width: 480px; padding: 10px;">
            <h2>Students</h2>
            <a class="anchor" id="student"></a>
            <p>Building CubeSats is no easy feat, so the HuskySatellite Lab is always looking to expand our team.</p>
            <p>We seek freshman, sophomores, juniors, seniors, and graduate students of all backgrounds and levels of experience.</p>
            <p>We look for people who are dedicated, willing to learn, and passionate about space and space technology.</p>
            <p>2023-24 applications are open, and will close on October 6. Accepted applications will be followed by a short interview.</p>
            <p>Check out our...</p>
            <ul>
                <li class="join-text">
                    <a href="https://dawgdaze.fyp.uw.edu/autumn/engineering-launch-2/">Engineering Launch</a> event in HUB 211 on Sep. 26 at 4:30 PM.</li>
                <li class="join-text">
                    <a href="https://dawgdaze.fyp.uw.edu/autumn/husky-satellite-lab-space-jeopardy-info-night/">Dawg Daze event</a> in HUB 250 on Sep. 28 at 6:30 PM</li>
                <li class="join-text">Info session in SMI 115 on Oct. 4 at 7:00 PM.</li>
            </ul>

            <p class="join-text">Questions? Contact <a href="mailto:cubesat@uw.edu">cubesat@uw.edu</a>.</p>

            <div style="text-align: center;"><a class="button" href="https://forms.gle/iJ6i6grWMquCwvjs6" target="_blank">APPLY NOW 🡒</a></div>
        </div>
    </div>
    <div>
        <div class="card" style="max-width: 480px; padding: 10px;">
            <h2>Sponsors</h2>
            <a class="anchor" id="sponsor"></a>
            <p>The Husky Satellite Lab would not be able to do the work it does without our sponsors. The Husky Satellite Lab has received hardware, software, and financial sponsorships from companies in the aerospace and engineering industries.</p>
            <p>We are 100% student run, and in an effort to stay as independent as possible, we are always looking for funding from outside sources.</p>

            <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSeGl70o-qEWwYC8k89erFte2LK7Nau3sHfKElqE_fpaK1H42w/viewform?embedded=true"
        width="500" height="925" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </div>
</div>

<h1>
    Questions?
  </h1>

<p class="contact-p">
    Contact us at <a href="mailto:cubesat@uw.edu" class="email-link">cubesat@uw.edu</a> ⟶
  </p>